* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
}

h1 {
    font-family: 'Yeseva One', cursive;
    color: #333;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
}

p {
    color: #3E3E3E;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 1em 0;
}

.special-color {
    color: purple;
}

#focus {
    padding-left: 10px;
    border-left: 5px solid crimson;
}

.btn {
    color: #fff;
    font-weight: 500px;
    background-image: linear-gradient(red, purple);
    border-radius: 5px;
    padding: 8px 12px;
    transition: all ease-in-out 0.3;
}

.btn:hover {
    color: #000;
    background-image: linear-gradient(green, yellow);
}

#top-banner {
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
    height: 623px;
    display: flex;
    align-items: center;
    background: #E5E5E5;
}

.flexible {
    width: 50%;
}

.profile-photo {
    width: 70%;
    height: 80%;
    margin-left: 50px;
}

#mission {
    width: 100%;
    padding: 0 100px;
}

#mission h2 {
    text-align: center;
}

.mission-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-container img {
    height: 140px;
    width: 140px;
}

.mission-item {
    width: 360px;
    height: 376px;
    padding: 30px;
    margin-left: 20px;
    border-radius: 25px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.mission {
    background-color: #4F9DA61A;
}

.vision {
    background-color: #FF59591A;
}

.goals {
    background-color: #FFF4D6;
}

#develop {
    width: 100%;
    padding: 0 150px;
    display: flex;
    align-items: center;
}

.develop-content {
    width: 70%;
    padding-right: 150px;
    padding-left: 50px;
}

.community-content {
    width: 70%;
    padding-right: 150px;
}

#community-photo,
#develop-photo {
    width: 30%;
}

#community-photo img,
#develop-photo img {
    width: 80%;
}

#community-photo {
    margin-right: 10%;
}

#community {
    width: 100%;
    padding-left: 150px;
    padding-right: 100px;
    display: flex;
    align-items: center;
}

section {
    margin: 100px 0;
}

footer {
    height: 100px;
    padding: 20px 0;
    background: black;
    text-align: center;
}

footer h6 {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
}

#footer-name {
    color: crimson;
}

#copyright {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}